<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mparkersimms.taskmaster">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TaskMaster">
        <activity android:name="com.mparkersimms.taskmaster.TaskItemRecyclerView"></activity>
        <activity
            android:name="com.mparkersimms.taskmaster.TaskDetailPage"
            android:parentActivityName="com.mparkersimms.taskmaster.MainActivity" />
        <activity
            android:name="com.mparkersimms.taskmaster.SettingsPage"
            android:parentActivityName="com.mparkersimms.taskmaster.MainActivity" />
        <activity
            android:name="com.mparkersimms.taskmaster.AllTasksPage"
            android:parentActivityName="com.mparkersimms.taskmaster.MainActivity" />
        <activity
            android:name="com.mparkersimms.taskmaster.AddTaskPage"
            android:parentActivityName="com.mparkersimms.taskmaster.MainActivity" />
        <activity android:name="com.mparkersimms.taskmaster.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>